@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.text {
    background-image: linear-gradient(225deg, rgb(234, 255, 250), rgb(19, 173, 179) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#gradient-box {
    width: 600px;
    height: 600px;
    background: linear-gradient(225deg, rgb(225, 255, 248), rgb(20, 165, 170) 68%);
    border-radius: 300px;
    margin: 50px auto 50px;
}